<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <title>Document</title>
</head>
<body>
  <div id="app">
      <select>
          <option v-for="i in 9" value="{{i}}">{{i}}
        </option>
      </select>
    <button v-on:click="getDog()">getDog</button>

    <img v-for='image in images' v-bind:src="image" alt="댕댕이" width="200px">
    
  </div>

  <script>
    const app = new Vue({
      el:'#app',
      data: {
        images: [],
        number: 0
      },
      methods:{
        getDog: function() {
          axios.get('https://dog.ceo/api/breeds/image/random')
            .then( response => {
              console.log(this)
              this.images.push(response.data.message)
              this.count++
            })
        }
        
      }

    })
  </script>
</body>
</html>